main {
    /* height: 100%; */
    background-image: linear-gradient(50deg, rgba(254, 253, 205, 1) 11.2%, rgba(163, 230, 255, 1) 91.1%);
}

.bodyv2 {
    background-image: radial-gradient(circle farthest-corner at 83.7% 4.3%, rgba(173, 0, 171, 1) 0%, rgba(15, 51, 92, 1) 90%);
}

.card {
    transition: all 0.2s ease-in-out;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    border: none;
    margin-bottom: 0rem;
}

.card:hover {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
    transform: translateY(-5px);
}

.card-img-top {
    object-fit: cover;
}

.card-title {
    font-weight: bold;
    margin-bottom: 0;
}

.card-text {
    margin-bottom: 0;
}

.card-info {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.card:hover .card-info {
    opacity: 1;
}

.card-info p {
    margin-bottom: 0.5rem;
}

.card-info span {
    font-weight: bold;
}

.badge {
    margin-right: 0.5rem;
}

.authentication-card {
    background: linear-gradient(45deg, #2f6ed3 5%, #5095e4 20%, #5095e4 60%, #3476e0 95%);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(18px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.trending-card {
    background: rgb(16, 96, 113);
    background: linear-gradient(148deg, rgba(16, 96, 113, 0.9867297260701156) 0%, rgba(85, 200, 131, 1) 33%, rgba(0, 103, 79, 1) 83%);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(18px);
    -webkit-backdrop-filter: blur(18px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.latest-tv-card {
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);

    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(18px);
    -webkit-backdrop-filter: blur(18px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

/* .movie-detail-card {
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(18px);
        -webkit-backdrop-filter: blur(18px);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.18);

    } */

.no_decor {
    text-decoration: none;
}

a {
    text-decoration: none;
}

.badge-custom {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, #3a6186, #89253e);
    color: #FF0;
    border-radius: 10px;
    width: 10px;
    height: 10px;
    font-size: 20px;
    text-shadow: 1px 1px 1px red,
        0 0 1em blue,
        0 0 0.2em blue;
    box-shadow: 1px 1px red,
        1em olive;
    animation: colorchange 1.5s ease infinite;
}

.badge-custom i {
    margin-right: 6px;
    font-size: 13px;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes colorchange {
    0% {
        background: linear-gradient(to right, #ff5858, #f857a6, #bc45f5, #4a4aff, #1cb5e0, #0ad5b5);
    }

    50% {
        background: linear-gradient(to right, #0ad5b5, #1cb5e0, #4a4aff, #bc45f5, #f857a6, #ff5858);
    }

    100% {
        background: linear-gradient(to right, #ff5858, #f857a6, #bc45f5, #4a4aff, #1cb5e0, #0ad5b5);
    }
}

.login-card {
    background-image: radial-gradient(circle 369px at -2.9% 12.9%, rgba(247, 234, 163, 1) 0%, rgba(236, 180, 238, 0.56) 46.4%, rgba(163, 203, 247, 1) 100.7%);
    backdrop-filter: blur(18px);
    -webkit-backdrop-filter: blur(18px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.sign-up-card {
    background-image: radial-gradient(circle 369px at -2.9% 12.9%, rgba(247, 234, 163, 1) 0%, rgba(236, 180, 238, 0.56) 46.4%, rgba(163, 203, 247, 1) 100.7%);
    backdrop-filter: blur(18px);
    -webkit-backdrop-filter: blur(18px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.home-carousel-details {
    /* background: rgba(255, 255, 255, 0.2); */
    background-image: linear-gradient(111.4deg, rgba(7, 7, 9, 0.503) 6.5%, rgba(27, 24, 113, 0.527) 93.2%);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.665);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(7px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.nav-card {
    background: #C33764;
    background: -webkit-linear-gradient(to right, #1D2671, #C33764);
    background: linear-gradient(to right, #1D2671, #C33764);

    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border-radius: 10px;
    /* border: 1px solid rgba(255, 255, 255, 0.18); */
}

.gradient-card {
    background: #C33764;
    background: -webkit-linear-gradient(to right, #1D2671, #C33764);
    background: linear-gradient(to right, #1D2671, #C33764);
}