<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">


        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true"
            aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="3" aria-label="Slide 5"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="4" aria-label="Slide 6"></button>
    </div>
    <div class="carousel-inner">

        {% for item in carousel %}
        <!-- one carosul item  -->
        <div class="carousel-item" id='carousel_{{forloop.counter}}'>
            <div class="card text-white bg-dark mb-3" style="height: 500px;">

                <div class="bg"
                    style="background-image: url(https://image.tmdb.org/t/p/original{{item.backdrop_path}});">
                    <div class="row">
                        <div class="col-4">
                            <div class="carousel-caption d-none d-md-block">
                                <div class="p-1 banner-content">
                                    <div class="custom-card p-2">

                                        <h3 class="card-title">{{item.title}}</h3>
                                        <p class="card-text fs-6">{{item.overview}}</p>
                                        <span class="badge bg-primary">⭐ {{item.vote_average}}</span>
                                        <span class="badge bg-primary">{{item.release_date}}</span>
                                        {% if item.adult %}
                                        <span class="badge bg-danger">+18</span>
                                        {% endif %}
                                        <span class="badge bg-success">{{item.original_language}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- one carosul item  -->
        {% endfor %}
    </div>

    <!-- Previous Button -->
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <!-- Previous Button -->
    <!-- Next Button -->
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
    <!-- Next Button -->
</div>