{% extends 'base.html' %} {% load static %}{% load humanize %} {% block title %}
- Home {% endblock %} {% block head %} {% endblock %} {% block body %}

<div
  id="carouselExampleCaptions"
  class="carousel slide"
  data-bs-ride="carousel"
>
  <div class="carousel-inner">
    {% for item in carousel %}
    <div class="carousel-item active" id="id_{{forloop.counter}}">
      <img
        src="https://image.tmdb.org/t/p/original{{item.backdrop_path}}"
        class="d-block w-100"
        alt="..."
        width="auto"
        height="auto"
      />
      <div class="carousel-caption d-none d-md-block">
        <h5>{{item.title}}</h5>
        <p>{{item.overview}}</p>
      </div>
    </div>
    {% endfor %}
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleCaptions"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleCaptions"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<hr />

<h2><u>Popular</u></h2>
<div class="container">
<div class="row">
  {% for item in popular_movies %}

  <div class="card" style="width: 15rem">
    <a href="{% url 'movie_details' item.id %}">
    <img
      src="https://image.tmdb.org/t/p/w500{{item.poster_path}}"
      class="card-img-top img-thumbnail"
      height="200"
      alt="{{item.title}} original image"
    />
    </a>
    <div class="carousel-caption d-none d-md-block">
      <p>
        {% if item.adult %}
        <span class="badge bg-danger">+18</span>
        {% endif %}
      </p>
    </div>
    <a href="{% url 'movie_details' item.id %}"> {{item.title}} </a>
  </div>

  {% endfor %}
</div>
</div>

<hr />

{% endblock %}
