{% extends 'base.html' %} {% load static %}{% load humanize %} {% block title %}
- Home {% endblock %} {% block head %} {% endblock %}





{% block body %}


<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
	<div class="carousel-inner">
		{% for item in carousel %}
		<div class="carousel-item{% if forloop.first %} active{% endif %}" id="id_{{forloop.counter}}">

			<img class="img-fluid" src="https://image.tmdb.org/t/p/original{{item.backdrop_path}}" {% comment %}
				img-fluid.maxwidth:100%; height:auto; {% endcomment %} alt="..." style="max-height: 100%; width: auto;"
				height="auto" />


			<div class="carousel-caption d-none d-md-block">
				<h5>{{item.title}}</h5>
				<p>{{item.overview}}</p>
			</div>

		</div>
		{% endfor %}
	</div>



	<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Previous</span>

	</button>





	<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Next</span>
	</button>


</div>






<div class="container">

	<div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="text-center display-4 mb-5">Popular Movies</h2>
      </div>
    </div>
  
    <div class="row row-cols-2 row-cols-md-4 row-cols-lg-6 g-4 justify-content-center">
      {% for item in popular_movies %}
      <div class="col mb-2">
        <div class="card h-100 border-0">
          <a href="{% url 'movie_details' item.id %}">
            <div class="position-relative">
              <img src="https://image.tmdb.org/t/p/w500{{item.poster_path}}" class="card-img-top rounded-3 shadow"
                alt="{{item.title}} original image" />
              <div class="position-absolute top-0 start-0 m-2">
                <span class="badge bg-primary">{{item.original_language}}</span>
              </div>
              <div class="position-absolute top-0 end-0 m-2">
                <span class="badge bg-secondary rounded-pill">🌟 {{item.vote_average}}</span>
              </div>
              <div class="tooltip-body d-none">
                <div>
                  <div>
                    <div class="">{{item.title}}</div>
                    <div>
                    <span class="badge bg-secondary rounded-pill">🕔 {{item.release_date}}</span>
                    {%if item.adult%}
                      <span class="badge bg-warning text-dark rounded-pill">+18 </span>
                      {%endif%}
                    </div>
                  </div>
  
                  <div class="mt-2">
                    <p class="text-light">{{item.overview|truncatewords:20}}</p>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
        {% comment %} <div class="mt-2">
          <h6 class="text-center mb-0">{{item.title}}</h6>
        </div> {% endcomment %}
      </div>
      {% endfor %}
    </div>
  </div>
</div>  


{% endblock %}


{% block js %}

<div>
	<script>
		var tooltipTriggerList = [].slice.call(document.querySelectorAll('.card'))
		var tooltipList = tooltipTriggerList.map(
			function (tooltipTriggerEl) {
				return new bootstrap.Tooltip(tooltipTriggerEl,
					{
						title: tooltipTriggerEl.querySelector('.tooltip-body').innerHTML,
						placement: 'bottom',
						html: true
					}
				)
			}
		)

	</script>
</div>



{% endblock%}