{% extends 'base.html' %}
{% load static %}{% load humanize %}



{% block title %} - Movie Detail {% endblock %}

{% block head %}


{% endblock %}


{% block body %}

<center>
<h1>{{movie.title}} </h1>
<img src="https://image.tmdb.org/t/p/original{{movie.backdrop_path}}" height="400" width="400">


<p>
    <ul>   <b>Description: </b> {{movie.overview}}</ul>

    {%if movie.budget %}
    <ul> <b>Budget: </b> {{movie.budget}} </ul>
    {% endif %}
    
    <ul><b>Generes: </b>
    {% for i in movie.genres %}
    {{i.name}}
    {% endfor %}
    </ul>

<ul><b>Homepage: </b> {{movie.homepage}}</ul>
<ul><b>Languages Available: </b>
    {% for i in movie.spoken_languages %}
    {{i.english_name}}
    {% endfor %}</ul>
   
        <ul> <b>Date Released: </b> {{movie.release_date}}</ul>
            <ul> <b>Running time: </b> {{movie.runtime}}</ul>

</p>




<hr/>



<p>
<h2>Cast</h2>
<div class="carousel-inner">
<div class="carousel-item active">
<div class="container">
<div class="row">
{% for cast in credits %}
<div class="card" style="width: 12rem;">
    {%if cast.profile_path %}
   
    <img src="https://image.tmdb.org/t/p/w500{{cast.profile_path}}" class="card-img-top img-thumbnail" height="200"
        alt="{{cast.name}} original image">
        {%else %}
        <img src="https://www.shutterstock.com/image-vector/male-default-placeholder-avatar-profile-260nw-387516193.jpg" class="card-img-top img-thumbnail" height="200"
        alt="{{cast.name}} original image">
        {%endif%}
        
        <p>
            <span class="badge bg-primary">{{cast.name}}</span>
            <span class="badge bg-success">{{cast.character}}</span>
        </p>
    
</div>
{% endfor %}
</div>
</div>
</div>
</div>
</p>

</center>

<hr />
<center>
<p>
<h2>Similar Movies</h2>
</center>
<div class="carousel-inner">
<div class="carousel-item active">
<div class="container">
<div class="row">
{% for item in similar %}

    <div class="card" style="width: 12rem;">
        <a href="{% url 'movie_details' item.id %}">
                    <img src="https://image.tmdb.org/t/p/w500/{{item.poster_path}}" class="card-img-top img-thumbnail" height="200"
            alt="{{item.title}} original image">
        
            <p>
                <span class="badge bg-primary">⭐ {{item.vote_average}}</span>
                {% if item.adult %}
                <span class="badge bg-danger">+18</span>
                {% endif %}
                <span class="badge bg-success">{{item.original_language}}</span>
            </p>
        </a>
    </div>
{% endfor %}
</div>
</div>
</div>
</div>


<hr/>   

<center>
<p>

<h2>Comments</h2>
</center>
<br>
<h3>User Comments</h3>

{% for comment in comments %}
<p>

<div class="card">
    <div class="card-body">
        <h4 class="card-title">{{comment.user.username}}</h4>
        <span class="card-subtitle mb-2 text-muted">{{comment.date_created}}</span>
        <p class="card-text">{{comment.body}}</p>
    </div>
</div>
</p>
{% endfor %}


{% if user.is_authenticated %}
<p>

<form method="post">
    {% csrf_token %}
    {{form.body.label}}
    {{form.body}}
    <button type="submit" class="btn btn-primary">Submit
    </button>
</form>
</p>

{% else %}
<p>
    <a href="{% url 'login' %}" class="btn btn-primary">Login to Comment</a>

</p>

{% endif %}


{% endblock %}